extends ../layout

block scriptsAfterContent
  script(type='text/javascript', src="/simplemde/node_modules/codemirror/lib/codemirror.js")
  link(rel="stylesheet" href="/simplemde/dist/simplemde.min.css")
  script(type='text/javascript', src="/simplemde/dist/simplemde.min.js")
  script(type='text/javascript', src='/js/updatestory_md.js')
  script(type='text/javascript') simplemde.value(!{JSON.stringify(storyBody_md)})

block content
  h1= title
  
  if errors
    br      
    h2 Form Errors:
    ul
      for error in errors
        li=error.msg
  
  form#formEditStory(name='updateStory', method='post', action='/story/' + story._id + '/update')
    div.form-group
      label(for='inputTitle') Story Title
      input#inputTitle.form-control(type='text', placeholder='Story Title', name='title', required='true', value=story.title)
    div.form-group
      label(for='inputDescription') Story Description
      input#inputDescription.form-control(type='text', placeholder='Enter description...', name='description', required='true', value=story.description)
    div.form-group
      label(for='inputTargetDonation') Fund Goal
      input#inputTargetDonation.form-control(type='number', name='targetDonation', min=0, placeholder="$100", required='true', value=story.targetDonation)
    div.form-group
      label(for='inputEndDate') Closing Date
      input#inputEndDate.form-control(type='date', name='endDate', required='true', value=story.closingDate.toISOString().slice(0,10))
    //- TODO add thumbnail uploading
    div.form-group
      label(for='storyBody') Story body
      textarea#inputStoryBody.form-control(name='storyBody', placeholder='Tell your story.', rows=10)
    div
      input#inputSubmit(type='submit', class="btn btn-primary", value='Submit')
  hr      
  form#formDeleteStory(name='deleteStory', method='post', action='/story/' + story._id + '/delete')
    div.form-group
      input#storyID(type='hidden', name='storyID', required='true', value=story._id)
      input#inputDelete.btn.btn-danger(type='submit', value='Delete')
    
      
