extends layout

block content
  h1= story.title
  img(src="/thumbnails/#{story.thumbnail}", align="middle")
  h3= story.description
  p Target Donation: #{story.target_donation}
  p Start Date: 
    time= story.opening_date
  p Closing Date: 
    time= story.closing_date
