extends layout

block scriptsHeader
  script(src="/jquery/dist/jquery.min.js")

block content
  h1= story.title
  img(src="/thumbnails/" + story.thumbnail, align="middle")
  h3= story.description
  p 
    b Target Donation: 
    = story.targetDonation
  p 
    b Start Date: 
    time= story.openingDate
  p 
    b Closing Date: 
    time= story.closingDate
  p 
    b Location:
    = story_location
  div
    hr
    article#storyBody
  div(align='right')
    hr
    a.btn.btn-primary(href="/story/" + story._id + "/update") Edit story
    
  style.
    //- /* The Modal (background) */
    .modal {
    //- /* Hidden by default */
    display: none; 
    //- /* Stay in place */
    position: fixed; 
    //- /* Sit on top */
    z-index: 1; 
    //- /* Location of the box */
    padding-top: 100px; 
    left: 0;
    top: 0;
    //- /* Full width */
    width: 100%; 
    //- /* Full height */
    height: 100%; 
    //- /* Enable scroll if needed */
    overflow: auto; 
    //- /* Fallback color */
    background-color: rgb(0,0,0); 
    //- /* Black w/ opacity */
    background-color: rgba(0,0,0,0.4); 
    }
    //- /* Modal Content */
    
    .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    }
    //- /* The Close Button */
    .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }
    .close:hover,
    .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }
  button#donate.btn.btn-success SUPPORT THIS CAUSE
  #modal1.modal
    .modal-content
      span.close ×
      form(method='post')
        .radio
          label
            input(type='radio', name='optradio')
            | Saints Rest
        .radio
          label
            input(type='radio', name='optradio')
            | PioneerWeekend
        .radio
          label
            input(type='radio', name='optradio')
            | Bikes To You
        .radio
          label
            input(type='radio', name='optradio')
            | Personal Donation

block scriptsAfterContent
  script $("#storyBody").load("/stories/html/" + !{JSON.stringify(story.body_html)});

  script.
    var modal1 = document.getElementById("modal1");
    var donatebtn = document.getElementById("donate");
    var span = document.getElementByClassName("Close")[0];
    btn.onclick = function() {
    modal.style.display = "block"
    }
    span.onclick = function() {
    modal.style.display = "none";
    }
    window.onclick = function(event) {
    if (event.target == modal1) {
      modal.style.display = "none";
      }
      }
