extends layout

block content
  h1= story.title
  img(src="/thumbnails/#{story.thumbnail}", align="middle")
  h3= story.description
  p 
    b Target Donation: #{story.target_donation}
  p 
    b Start Date: 
    time= story.opening_date
  p 
    b Closing Date: 
    time= story.closing_date
