extends layout

block scriptsHeader
  script(src="/jquery/dist/jquery.min.js")

block content
  h1= story.title
  img(src="/thumbnails/" + story.thumbnail, align="middle")
  h3= story.description
  p 
    b Target Donation: 
    = story.targetDonation
  p 
    b Start Date: 
    time= story.openingDate
  p 
    b Closing Date: 
    time= story.closingDate
  p 
    b Location:
    = story_location
  div
    hr
    article#storyBody
  div(align='right')
    hr
    a.btn.btn-primary(href="/story/" + story._id + "/update") Edit story

block scriptsAfterContent
  script $("#storyBody").load("/stories/html/" + !{JSON.stringify(story.body_html)});
